/* Esercizio 1 */

.ex-1-square{
    transition: 4s;
}
.ex-1-square:hover{
    background: red;
}

/* Esercizio 2 */

.ex-2-square{
    transition: 4s;
}
.ex-2-square:active{
    width: 100%;
}

/* Esercizio 3 */

.ex-3-square{
    transition: 4s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* Esercizio 4 */

.ex-4-square{
    transition: 4s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* Esercizio 5 */

.ex-5-square{
    transition: 4s;
}

.ex-5-square:hover{
    transform: scale(1.5);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* Esercizio 6 */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* Esercizio 7 */

.ex-7-img{
    transition: 3s;
}

.ex-7-img:hover{
    filter: saturate(4) blur(2px);
}

/* Esercizio 8 */

.ex-8-img{
    transition: 3s;
}

.ex-8-img:hover{
    filter: grayscale(1) blur(5px);
    border-radius: 10%;
}

/* Esercizio 9 */

.ex-9-img{
    transition: 3s;
}

.ex-9-img:hover{
    filter: sepia(1) drop-shadow(30px 10px 4px #804b11);
    border-radius: 10%;
    transform: scale(1.5);
}

/* Esercizio 10 */

.ex-10-icon{
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

/* Esercizio 11 */

.ex-11-icon:hover{
    animation: spinex11 3s linear;
}

@keyframes spinex11{
    0% { 
        transform: rotate( 0° ); 
    }
    75% { 
        transform: rotate( 270° ); 
    }
}

/* Esercizio 12 */

.ex-12-button:hover .ex-12-top-white{
    animation: white_top 3s linear;
}

@keyframes white_top{
    0% { 
        left: 10%; 
    }
    50% { 
        left: 60%; 
    }
}
.ex-12-button:hover .ex-12-bottom-white{
    animation: white_bottom 3s linear;
}

@keyframes white_bottom{
    0% { 
        right: 20%; 
    }
    50% { 
        right: 60%; 
    }
}

/* Esercizio 13 */

.ex-13-button:hover .ex-13-top-white{
    animation: ex13_top 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: ex13_bottom 2s linear;
}

@keyframes ex13_top{
    0% { left: 10%; top: -10%; }
    30% { left: 70%; top: -10%; }
    50% { left: 70%; top: 100%; }
    75% { left: 0; top: 100%; }
    90% { left: -20%; top: -10%; }
    100% { left: 10%; top: -10%; }
}

@keyframes ex13_bottom{
    0% { right: 10%; bottom: -10%; }
    30% { right: 70%; bottom: -10%; }
    50% { right: 70%; bottom: 100%; }
    75% { right: 0; bottom: 100%; }
    90% { right: -20%; bottom: -10%; }
    100% { right: 10%; bottom: -10%; }
}

